.nav-name {
 font-family: cursive;
}
body {
 background-color:DarkOliveGreen;
}
.nav-bg{
 background-color:#cfda90;
}
h1 {
 font-family: fantasy;
 color:Black;
}
h2 {
 font-family: fantasy;
 color:black;
}