.nav-name {
 font-family: inherit;
}
body {
 background-color:LightGrey;
}
.nav-bg{
 background-color:#cfda90;
}
h1 {
 font-family: inherit;
 color:Black;
}
h3 {
 font-family: inherit;
 color:black;
}
h6 {
 font-family: inherit;
 color: black;
}
p {
 font-family: monospace;
 
}
.padding {
 padding: 50px;
 background-color:white;
}
